@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;800&display=swap');

:root {
	font-size: 1.15vh;
}

body {
	@media screen and (min-width: 769px) {
		overflow-y: scroll;
	}

	margin: 0;
	padding: 0;
	font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
	padding-left: 1rem;
}

p {
	margin: 0.5rem 0 0.5rem 0;
	line-height: 0.9rem;
}

strong {
	font-weight: 500;
}
